node_modules
npm-debug.log
.git
.gitignore
README.md
.DS_Store
.env
build
dist
frontend/node_modules
frontend/dist
frontend/build
backend/node_modules
backend/dist
backend/build
*.log
.npm
.eslintcache
coverage